body {
  background-color: rgb(236, 236, 236);
}

.container {
  text-align: center;
  border: 5px solid black;
  height: 700px;
  display: none;
}

#player-stats {
  text-align: left;
}

#opponent-stats {
  text-align: left;
}

#row2 {
  height: 480px;
}

/* #photo1 {
} */

#create {
  text-align: center;
}